﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterStatic.Master" AutoEventWireup="true" CodeBehind="ViewNews.aspx.cs" Inherits="IndiaMoves.ViewNews" %>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container-wrapper">
        <div class="af-breadcrumbs font-family-1 color-pad af-container-block-wrapper">
            <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
                <ul class="trail-items" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <meta name="numberOfItems" content="5" />
                    <meta name="itemListOrder" content="Ascending" />
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="/Home.aspx" rel="home" itemprop="item"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-end"><a href="/ViewNews.aspx?id=<%=nid %>" itemprop="item"><span itemprop="name">Single News</asp:Label>
                    </span></a>
                        <meta itemprop="position" content="2" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <asp:DataList ID="dlViewSingle" runat="server">
        <ItemTemplate>
            <div class="container-wrapper ">

                <div class="read-details af-container-block-wrapper">




                    <div class="newsever-entry-featured-image-wrap float-l col-2">
                        <div class="read-img pos-rel">
                            <div class="post-thumbnail full-width-image">
                                <img width="200" height="252" src="<%# Eval("path") %>" class="attachment-newsever-featured size-newsever-featured wp-post-image" alt="" loading="lazy" />
                            </div>

                            <span class="aft-image-caption-wrap"></span>

                        </div>
                    </div>

                    <div class="newsever-entry-header-details-wrap float-l col-2">
                        <div class="entry-header-details ">
                            <div class="read-categories">
                                <ul class="cat-links">
                                    <li class="meta-category">
                                        <a class="newsever-categories category-color-1" href="#" alt="View all posts in NEWS">NEWS
                             </a>
                                    </li>
                                </ul>
                            </div>

                            <h1 class="entry-title">
                                <asp:Label ID="labHeadLine" runat="server" Text='<%#Eval("name")%>' /></h1>
                            <div class="post-meta-share-wrapper">
                                <div class="post-meta-detail">
                                    <span class="min-read-post-format"></span>
                                    <span class="entry-meta">

                                        <span class="item-metadata posts-author byline">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <a href="#"><%--admin--%>
                                                <asp:Label ID="LabUploadBy" runat="server" Text='<%#Eval("UploadBy")%>' />
                                            </a>
                                        </span>
                                    </span>
                                    <span class="item-metadata posts-date">
                                        <i class="fa fa-clock-o"></i>
                                        <%--August 23, 2020--%>
                                        <asp:Label ID="LabUploadDate" runat="server" Text='<%#Eval("UploadDate")%>' />
                                    </span>
                                    <span class="min-read">5 min read</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <input type="button" id="facebook" class="facebook" name="facebook" value="Facebook Share ammamam" onclick="FBshare()">
                    <script>
                        queryString = "cup=blue&bowl=red&spoon=green";
                        //the values of this are actually generated by user input, don't think its important for this example though. So in this example its just a basic string.

                        siteURL = "https://indiamoves.in/ViewNews.aspx?id=52";
                        //the url without the query string

                        sharingURL = siteURL + queryString;
                        //Combing the domain/host with query string.. sharingURL should = http://example.com?share=1&cup=blue&bowl=red&spoon=green


                        function FBshare() {
                            shareURL = siteURL + queryString;
                            console.log(shareURL);
                            window.open(
                                'https://www.facebook.com/sharer/sharer.php?u=' + siteURL,
                                'facebook-share-dialog',
                                'width=626,height=436');
                            return false;
                        }


                        $(".facebook").bind("click", function () {
                            FBshare();
                        });
                    </script>

                </div>

            </div>
        </ItemTemplate>
    </asp:DataList>



    <div id="content" class="container-wrapper ">
        <div class="af-container-block-wrapper clearfix">
            <div id="primary" class="content-area ">

                <article id="post-4246" class="post-4246 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-corona tag-culture tag-media tag-news tag-sports">


                    <div class="entry-content-wrap read-single">



                        <div class="entry-content read-details">
                            <asp:DataList ID="dlNewsBody" runat="server">
                                <ItemTemplate>
                                    <main id="main" class="site-main ">
                                        <h2><span class="has-inline-color has-vivid-red-color">
                                            <asp:Label ID="Label1" runat="server" Text='<%#Eval("name")%>' /></span></h2>
                                </ItemTemplate>
                            </asp:DataList>
                            <p>
                                <asp:BulletedList ID="BulletedList1" runat="server" Style="list-style-type: none; color: darkblue;">
                                </asp:BulletedList>
                            </p>

                            <p><strong><span class="has-inline-color has-vivid-red-color"><%--<asp:Label ID="labPlace" runat="server" Text='<%#Eval("Place")%>' />--%></span></strong> &#8211; </p>
                            <div class="wp-post-author-wrap wp-post-author-shortcode left">
                                <h3 class="awpa-title"></h3>

                                <div class="wp-post-author">

                                    <div class="awpa-img awpa-author-block square">
                                        <a href="#">
                                            <img alt='' src='https://secure.gravatar.com/avatar/f34e946f989baa4f32a31eb22d7a8839?s=150&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/f34e946f989baa4f32a31eb22d7a8839?s=300&#038;d=mm&#038;r=g 2x' class='avatar avatar-150 photo' height='150' width='150' loading='lazy' /></a>
                                    </div>
                                    <div class="wp-post-author-meta awpa-author-block">
                                        <h4 class="awpa-display-name">
                                            <a href="#">
                                                <asp:Label ID="Label2" runat="server" Text='<%#Eval("UploadBy")%>' /></a>
                                        </h4>



                                        <p class="awpa-website">
                                            <a href="../../../../Default.aspx"
                                                class="awpa-email" target="_blank">https://indiamoves.in</a>
                                        </p>
                                        <div class="wp-post-author-meta-bio">
                                        </div>
                                        <div class="wp-post-author-meta-more-posts">
                                            <p class="awpa-more-posts">
                                                <a href="#" class="awpa-more-posts">See author&#039;s posts</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>





                            <div class="post-item-metadata entry-meta">
                                <%--<span class="tags-links">Tags: <a href="../../../../hindi%20news%20update%20%2chhindi%20news%20today/corona/Default.aspx" rel="tag">corona</a> <a href="../../../../hindi%20news%20update%20%2chhindi%20news%20today/culture/Default.aspx" rel="tag">CULTURE</a> <a href="../../../../hindi%20news%20update%20%2chhindi%20news%20today/media/Default.aspx" rel="tag">media</a> <a href="../../../../hindi%20news%20update%20%2chhindi%20news%20today/news/Default.aspx" rel="tag">News</a> <a href="../../../../hindi%20news%20update%20%2chhindi%20news%20today/sports/Default.aspx" rel="tag">sports</a></span>--%>
                            </div>

                            <nav class="navigation post-navigation" role="navigation" aria-label="Continue Reading">
                                <h2 class="screen-reader-text">Continue Reading</h2>
                                <div class="nav-links">
                                    <%--<div class="nav-previous"><a href="../jharkhand-on-the-occasion-of-the-birth-anniversary-of-former-vice-chancellor-dr-ram-dayal-munda-his-statue-was-garlanded-and-planted-a-tree/Default.aspx" rel="prev"><span class="em-post-navigation">Previous</span> Jharkhand -माण्डर विधायक बंधु तिर्की ने डॉ रामदयाल मुंडा जी की जयंती के अवसर पर उनकी प्रतिमा पर माल्यार्पण कर वृक्षारोपण किया,</a></div>--%>
                                </div>
                            </nav>
                        </div>
                        <!-- .entry-content -->
                    </div>



                   

                   
                    <div class="aft-comment-related-wrap">

                        <div id="comments" class="comments-area">

                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="Default.aspx#respond" style="display: none;">Cancel reply</a></small></h3>
                                <form action="https://indiamoves.world/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                    <p class="comment-form-comment">
                                        <label for="comment">Comment</label>
                                        <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                                    </p>
                                    <p class="comment-form-author">
                                        <label for="author">Name <span class="required">*</span></label>
                                        <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' />
                                    </p>
                                    <p class="comment-form-email">
                                        <label for="email">Email <span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' />
                                    </p>
                                    <p class="comment-form-url">
                                        <label for="url">Website</label>
                                        <input id="url" name="url" type="url" value="" size="30" maxlength="200" />
                                    </p>
                                    <p class="comment-form-cookies-consent">
                                        <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" />
                                        <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                    </p>
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                                        <input type='hidden' name='comment_post_ID' value='4246' id='comment_post_ID' />
                                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                    </p>
                                    <p style="display: none;">
                                        <input type="hidden" id="ak_js" name="ak_js" value="20" />
                                    </p>
                                </form>
                            </div>
                            <!-- #respond -->

                        </div>
                        <!-- #comments -->


                        <div class="promotionspace enable-promotionspace">
                        </div>


                    </div>
                </article>

                </main>
                        <!-- #main -->

            </div>
            <!-- #primary -->




            <div id="secondary" class="sidebar-area aft-sticky-sidebar">
                <div class="theiaStickySidebar">
                    <aside class="widget-area color-pad">
                        <div id="search-2" class="widget newsever-widget widget_search">
                            <form role="search" method="get" class="search-form" action="https://indiamoves.world/">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                                </label>
                                <input type="submit" class="search-submit" value="Search" />
                            </form>
                        </div>

                        <div id="recent-posts-2" class="widget newsever-widget widget_recent_entries">
                            <h2 class="widget-title widget-title-1"><span class="header-after">Recent Posts</span></h2>
                            <asp:DataList ID="dlRecentPost" runat="server">
                                <ItemTemplate>
                                    <ul>
                                        <li>
                                            
                                            <a href="/ViewNews.aspx?id=<%#Eval("NewsId")%>" class="link-product-add-cart">
                                                <asp:Label ID="labHeadLine" runat="server" Text='<%#Eval("name")%>' /></a>
                                        </li>
                                    </ul>
                                </ItemTemplate>
                            </asp:DataList>

                        </div>
                        <div id="recent-comments-2" class="widget newsever-widget widget_recent_comments">
                            <h2 class="widget-title widget-title-1"><span class="header-after">Recent Comments</span></h2>
                            <ul id="recentcomments">
                                <li class="recentcomments"><span class="comment-author-link">MZKhan</span> on <a href="../../../07/29/ranchi-pream-chand-ki-khaniya-facebook-live/Default.aspx#comment-138">Ranchi के फेसबुक पेज से प्रेमचंद की कहानी ठाकुर का कुआं का लाइव पाठ किया.</a></li>
                                <li class="recentcomments"><span class="comment-author-link">MZKhan</span> on <a href="../../../07/18/start-up-adivasi-online-platform-jharkhand/Default.aspx#comment-91">आदिवासियों उद्यमियों को बढ़ावा देता ,आनॅलाईन प्लेटफार्म</a></li>
                                <li class="recentcomments"><span class="comment-author-link"><a href='../../../07/21/jharkhand-news-pan-masala-and-ghutkha-banned-2021/Default.aspx' rel='external nofollow ugc' class='url'>jharkhand में गुटखा और पान मसाला 2021 तक बैन - इंडिया Moves</a></span> on <a href="../../../07/21/jharkhand-news-update-chamber-of-commerce/Default.aspx#comment-90">jharkhand news today   चेंबर ऑफ कॉमर्स ने लिया बड़ा फैसला</a></li>
                                <li class="recentcomments"><span class="comment-author-link"><a href='../../../07/21/jharkhand-news-update-chamber-of-commerce/Default.aspx' rel='external nofollow ugc' class='url'>jharkhand news today में चेंबर ऑफ कॉमर्स ने लिया बड़ा फैसला - इंडिया Moves</a></span> on <a href="../../../07/21/jharkhnad-news-update2020/Default.aspx#comment-89">JHARKHNAD NEWS मास्क अपनाये, कोरोना भगाये &#8220;</a></li>
                                <li class="recentcomments"><span class="comment-author-link"><a href='../../../07/06/jharkhand-update-4/Default.aspx' rel='external nofollow ugc' class='url'>महापौर श्रीमती आशा लकड़ा -रांची झारखंड &#8211; इंडिया Moves</a></span> on <a href="../../../07/06/bjp-deepak-prakash-jharkhand/Default.aspx#comment-46">राज्य की कानून व्यवस्था को लेकर हेमंत सरकार गंभीर नहीं -दीपक प्रकाश बीजेपी jharkhand</a></li>
                            </ul>
                        </div>
                        <div id="archives-2" class="widget newsever-widget widget_archive">
                            <h2 class="widget-title widget-title-1"><span class="header-after">Archives</span></h2>
                            <ul>
                                <li><a href='../../Default.aspx'>August 2020</a></li>
                                <li><a href='../../../07/Default.aspx'>July 2020</a></li>
                                <li><a href='../../../06/Default.aspx'>June 2020</a></li>
                            </ul>

                        </div>
                        <div id="categories-2" class="widget newsever-widget widget_categories">
                            <h2 class="widget-title widget-title-1"><span class="header-after">Categories</span></h2>
                            <ul>
                                <li class="cat-item cat-item-237"><a href="../../../../category/breaking-news/Default.aspx">Breaking-news</a>
                                </li>
                                <li class="cat-item cat-item-227"><a href="../../../../category/health-fitness/corona/Default.aspx">CORONA</a>
                                </li>
                                <li class="cat-item cat-item-231"><a href="../../../../category/media-2/culture/Default.aspx">CULTURE</a>
                                </li>
                                <li class="cat-item cat-item-35"><a href="../../../../category/health-fitness/Default.aspx">Health &amp; Fitness</a>
                                </li>
                                <li class="cat-item cat-item-40"><a href="../../../../category/lifestyle/Default.aspx">Lifestyle</a>
                                </li>
                                <li class="cat-item cat-item-43"><a href="../../../../category/media-2/Default.aspx">Media</a>
                                </li>
                                <li class="cat-item cat-item-232"><a href="../../../../category/media-2/news/Default.aspx">NEWS</a>
                                </li>
                                <li class="cat-item cat-item-66"><a href="../../../../category/sport/Default.aspx">Sport</a>
                                </li>
                                <li class="cat-item cat-item-236"><a href="../../../../category/tech/Default.aspx">Tech</a>
                                </li>
                                <li class="cat-item cat-item-1"><a href="../../../../category/uncategorized/Default.aspx">Uncategorized</a>
                                </li>
                            </ul>

                        </div>
                        <div id="meta-2" class="widget newsever-widget widget_meta">
                            <h2 class="widget-title widget-title-1"><span class="header-after">Meta</span></h2>
                            <ul>
                                <li><a rel="nofollow" href="../../../../wp-login.html">Log in</a></li>
                                <li><a href="../../../../feed/Default.aspx">Entries feed</a></li>
                                <li><a href="../../../../comments/feed/Default.aspx">Comments feed</a></li>

                                <li><a href="#">indiamoves.in</a></li>
                            </ul>

                        </div>
                    </aside>
                </div>
            </div>
        </div>


    </div>
</asp:Content>
